{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Book Ticket</title>
	 <link rel="stylesheet" href="{% static "css/style.css" %}" /> <!-- CSS -->
   <style>
    .type{
      font-size: 20px;
    }
   </style>
</head>
<body background="{% static "images/bg1.jpg" %}">
	<center><h1> Available Tickets </h1>
  <table>
    <tr>
      {% for i in columns %}
        <th>{{i}}</th>
      {% endfor %}
    </tr>
    
    {% for i in dates %}
      <tr>
      {% for j in i %}
        <td>{{j}}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    
    </table></center>
<br>
	<center>
   <div>
   <form  action="/ticket_book/" method="POST">{% csrf_token %}
      <label class="label">Visit Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='date' required value={{date}}>
      <br>(YYYY-MM-DD)<br>
      <label class="label">Number of Tickets</label>
      <input type='number' name='number' required value={{not}}>
      <br>
      <br>
      <label class="label">Type</label>
      <input type='radio' name='type' required value="N" class="type">
<strong class="type">N[ For Adults]</strong>
      <input type="radio" name="type" required value="S" class="type">
<strong class="type">S[For Students/Kids]</strong>
      <br><br>

      <input name='submit' type='submit' value='Book Ticket'><br>
      
    </form> 
  </div> 
  </center>
<center><h1>{{error}}</h1></center>
    <br><br>
	
</body>
</html>



