{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
	 <link rel="stylesheet" href="{% static "css/style.css" %}" />
	 <style>
	body{
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	.block {
  width: 20%;
  font-size: 26px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(35, 197, 89);
}
    .add, .sub{
		visibility: collapse;
		font-size: 26px;
		width: 20%;
		background-color: rgb(225, 217, 217);
		color: black;
	}
	input.sub, input.add{
		background-color: rgb(35, 197, 89);
		font-size: 26px;
		width: 20%;
	}
	 </style>
</head>
<body background="{% static "images/Ticket.jpg" %}">

<center><h1>Tickets Portal</h1>

<table>


<tr>
	{% for i in columns %}
		<th>{{i}}</th>
	{% endfor %}
</tr>

{% for i in date %}
	<tr>
	{% for j in i %}
		<td>{{j}}</td>
	{% endfor %}
	</tr>
{% endfor %}

</table></center>
<form action="/TicketPortal/" method = "Post">
<center><button class = "block but"  type="button" onclick = "ask();">ADD New Tickets</button>
	<button class = "block but"  type="button" onclick = "ask2();" ">Delete Tickets</button>
</center>
<label for="dat" class = "add sub" >Enter Date</label>
<input type="text" name="dat" class="add sub" placeholder = "YYYY-MM-DD"  required><br>
<label for="num" class="add">Enter number of Tickets to be sold</label>
<input type="number" name = "num" class="add" value="1" id = "numb"><br><br>
<label for="price" class = "add">Price for each Ticket:</label>
<input type = "number" name="price" class = "add" min = "1">
<input type="submit" value="Add Tickets" class = "add">
<input type="submit" value="Delete Tickets" class = "sub">
</form>
<div id = "messag">
	<strong>Messages: </strong>  {{ messag }}
</div>
<script>
function ask(){
	var Add = document.getElementsByClassName("add");
	for(let i = 0;i < Add.length;i++){
		Add[i].style.visibility = "visible";
	}
	var x = document.getElementsByClassName("but");
	    x[0].style.visibility = "hidden";
		x[1].style.visibility = "hidden";
    Add[3].min = "1"
	

}
    function ask2(){
	var Add = document.getElementsByClassName("sub");
	for(let i = 0;i < Add.length;i++){
		Add[i].style.visibility = "visible";
	}
	var x = document.getElementsByClassName("but");
	    x[0].style.visibility = "hidden";
		x[1].style.visibility = "hidden";
	
     var n = document.getElementById("numb");
	 n.value = "-1";
}	
</script>
</body>
</html>
